* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body {
  /* Full height */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  background-image: url("assets/mountains-universe-1.svg");
}

.universe {
  background-image: url("assets/mountains-universe-2.svg");
}

.explore {
  background-image: url("assets/mountains-universe-3.svg");
}

nav {
  height: 122px;
  padding: 4rem clamp( 2rem, 2rem + 3vw, 7.2rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;
}

nav a{
  text-decoration: none;
  color: #C4C4CC;
  font-size: 24px;
  line-height: 22px;
}

nav a:focus {
  font-weight: bold;
  color: #FFFFFF;
}

main {
  margin: 6.3rem auto auto 10.2rem;
}

main h1 {
  font-size: 48px;
  line-height: 125%;
  color: #E1E1E6;
  margin-bottom: 1.6rem;
}

main p {
  font-weight: 400;
  font-size: 18px;
  line-height: 2.8rem;
  color: #E1E1E6;
  width: 65rem;
}

main button {
  background: transparent;
  padding: 1.2rem 3.2rem;
  margin-top: 0.8rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  transition: background-color 0.2s;
}

main button:hover {
  background: #FFFFFF;
  color: #02799D;
}

.hero {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}